@import "../../../global/variables";

.user {
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #525252;
    border-radius: 10px;
    margin-bottom: 20px;
    &-heading {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: calc(24 / 20);
      color: $white;
    }
    &-desc {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: calc(19 / 16);
      color: $text-color;
      max-width: 320px;
      width: 100%;
    }
    &-btn {
      cursor: pointer;
      outline: none;
      border: 2px solid $white;
      border-radius: 25px;
      padding: 13px 20px;
      background: $text-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      img {
        margin-right: 5px;
        width: 20px;
      }
    }
  }
  &-primary {
    width: 100%;
    position: relative;
    border-radius: 20px;
    border: 1px solid #525252;
  }
  &-empty {
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-size: 25px;
      color: $white;
      margin-bottom: 10px;
    }
    p {
      width: 400px;
      font-size: 14px;
      margin-bottom: 20px;
    }
    a {
      padding: 15px 20px;
      border-radius: 10px;
      background: $white;
      font-size: 16px;
      text-decoration: none;
      color: $black;
      font-weight: bold;
    }
  }
}
.personal {
  width: 50%;
  height: 100%;
  padding: 20px 5% 0;
  h6 {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    color: $white;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 20px;
    font-size: 12px;
  }
}
.credentials {
  width: 50%;
  height: 100%;
  padding: 20px 5%;
  padding-bottom: 0;
  h6 {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    color: $white;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 20px;
    font-size: 12px;
  }
}

.user-primary-personal > .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    width: 20px;
  }
}
.update-information {
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: $white;
  padding: 13px 0;
  width: 200px;
  background: $green-color;
  border-radius: 100rem;
  transition: all 0.2s linear;
  margin-left: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.update-information.disable {
  user-select: none;
  background-color: $text-color;
  cursor: not-allowed;
}

@media screen and (max-width: 1439.98px) {
  .user {
    &-image {
      display: none;
    }
  }
}
@media screen and (max-width: 767.98px) {
  .user {
    &-top {
      &-desc {
        display: none;
      }
      &-heading {
        font-size: 16px;
      }
      &-btn {
        padding: 10px 15px;
        font-size: 14px;
        img {
          width: 15px;
          height: 15px;
        }
      }
    }
    &-primary {
      flex-direction: column;
      overflow-y: scroll;
      height: 100%;
      margin-bottom: 50px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .personal {
    width: 100%;
    margin-bottom: 20px;
  }
  .credentials {
    width: 100%;
  }
  .update-infomation {
    position: static;
    transform: translate(0);
    width: 100%;
  }
}
