@import "../../../global/variables";

.home {
  flex: 1;
  height: 100%;
  position: relative;
  align-items: flex-start;
  &-container {
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
  }
  &-content {
    overflow-y: scroll;
    height: 100%;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-more {
    flex: 0.4;
    max-height: 97%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    &-label {
      display: block;
      font-size: 16px;
      text-align: center;
      color: $white;
      padding: 20px 0;
      width: 100%;
      background: $item-color;
      border-radius: 15px;
      margin-bottom: 20px;
    }
  }
  &-discover {
    width: 100%;
    min-height: 300px;
    border-radius: 15px;
    margin-bottom: 15px;
    &-primary {
      text-align: center;
      font-size: 14px;
      height: 100%;
    }
  }
  &-topics {
    width: 100%;
    flex: 1;
    &-primary {
      height: 280px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-item {
      height: 100px;
      width: 100%;
      background: rgba(156, 156, 156, 0.418);
      border-radius: 15px;
      margin-bottom: 10px;
    }
  }
  &-label {
    display: inline-block;
    color: $white;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: calc(22 / 14);
    padding: 7px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  &-image {
    flex: 0.6;
    width: 100%;
    height: 300px;
    margin-right: 20px;
    position: relative;
    background: #31aabc;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    img {
      position: absolute;
      bottom: 0;
      right: 0;
      float: right;
      object-fit: cover;
      margin-right: 30px;
    }
  }
  &-description {
    color: $black;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(22 / 14);
    color: $text-color;
  }
  &-title {
    font-family: "Rubik Mono One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: calc(99 / 80);
    letter-spacing: -0.06em;
    color: $white;
    margin-bottom: 10px;
    span {
      color: $green-color;
    }
  }
  &-text {
    color: $white;
    font-size: 24px;
    font-weight: 500;
    max-width: 200px;
    margin-bottom: 10px;
  }
  &-posts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    transition: all 0.3s linear;
    margin-left: -20px;
  }
  &-loadMore {
    display: inline-block;
    outline: none;
    border: none;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    margin-top: 30px;
    position: relative;
    left: 50%;
    color: $white;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1439.98px) {
  .home {
    &-title {
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: calc(30 / 25);
      color: #ffffff;
      margin-bottom: 10px;
    }
    &-dev {
      margin-bottom: 30px;
      max-height: 25vh;
      img {
        object-fit: cover;
        width: 100%;
        border-radius: 50px;
        max-height: 25vh;
        opacity: 0.8;
      }
    }
    &-post {
      margin-right: -10px;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .home {
    &-container {
      flex-direction: column;
      gap: 20px;
    }
    &-image {
      width: 100%;
    }
    &-posts {
      justify-content: space-evenly;
    }
  }
}
