@import "../../../global/variables";

.mycart {
  position: relative;
  height: 100%;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #525252;
    border-radius: 10px;
    margin-bottom: 20px;
    &-heading {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: calc(24 / 20);
      color: $white;
      margin-bottom: 5px;
    }
    &-desc {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: calc(19 / 16);
      color: $text-color;
      max-width: 500px;
      width: 100%;
    }
    &-btn {
      cursor: pointer;
      outline: none;
      border: 2px solid $white;
      border-radius: 25px;
      padding: 15px 20px;
      background: $text-color;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 5px;
      }
    }
  }
  // &-container {
  //   display: flex;
  //   align-items: center;
  // }
  &-selectAll {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    padding: 10px 13px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
      color: $white;
    }
  }
  &-selectAll.active {
    background: $background-light;
    color: $white;
  }
  &-list {
    max-height: 65%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-action {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &-btn {
    cursor: pointer;
    display: inline-block;
    padding: 15px 0;
    width: 100px;
    font-size: 14px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: transparent;
    color: $white;
    border: 1px solid transparent;
    opacity: 0.7;
    transition: all 0.3s linear;
    &:hover {
      opacity: 1;
    }
    &-buy {
      margin-left: 10px;
      background: $green-color;
    }
    &-delete {
      border-color: #6b6b6b;
    }
  }
}
