@import "../../global/variables";
.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  width: 100%;
  // box-shadow: 10px 10px 50px rgba(155, 155, 155, 0.295),
  // inset 10px 10px 50px rgba(122, 122, 122, 0.358);
  ul {
    li {
      a {
        width: 30px;
        height: 30px;
        border-radius: 9px;
        background: rgba(229, 229, 229, 0.226);
        svg {
          width: 15px;
          height: 15px;
          path {
            fill: $text-color;
            opacity: 0.7;
            transition: all 0.2 linear;
          }
        }
      }
    }
  }
}
.menu > ul > li > a.active {
  // background: rgba(229, 229, 229, 0.226);
  + span {
    color: $white;
  }
  background: #ff7551;
  svg path {
    fill: $white;
    opacity: 1;
  }
}
