@import "../../global/variables";
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex: 1;
  ul {
    li {
      a {
        span {
          color: $white;
          opacity: 0.2;
        }
        svg path {
          fill: $white;
          opacity: 0.2;
        }
      }
    }
  }
}
.menu > ul > li > a.active {
  svg path {
    fill: #ffa407;
    opacity: 1;
  }
  span {
    color: #ffa407;
    opacity: 1;
  }
}
