@import "../../global/variables";

.styleMenu {
  list-style: none;
  margin-bottom: -35px;
}
.styleMenuItem {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  span {
    margin-left: 15px;
    font-size: 14px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    svg path {
      opacity: 1;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
  &:hover {
    a {
      svg path {
        fill: $white;
        opacity: 1;
      }
    }
    span {
      color: $white;
    }
  }
}
.cart {
  a {
    position: relative;
    span {
      position: absolute;
      top: 0;
      right: 0;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 15px;
      font-size: 12px;
      border-radius: 100rem;
      background: $orange-color;
      transform: translate(25%, -25%);
    }
    span.zoom {
      transition: all 0.3s linear;
      animation: zoom-up 1s alternate;
    }
  }
}

@keyframes zoom-up {
  from {
    scale: 1.5;
  }
  to {
    scale: 1;
  }
}

@media screen and (max-width: 1439.98px) {
  .styleMenuItem {
    span {
      display: none;
    }
  }
}
