@import "../../global/variables";

.styleMenu {
  list-style: none;
  margin-bottom: -15px;
}
.styleMenuItem {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    svg path {
      opacity: 1;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &:hover {
      svg path {
        fill: $white;
        opacity: 1;
      }
    }
  }
}
