.styleMenu {
  list-style: none;
  margin-bottom: -15px;
}
.styleMenuItem {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    text-decoration: none;
    img {
      opacity: 0.3;
      margin-bottom: 5px;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    span {
      opacity: 0.3;
      font-style: normal;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      font-weight: 700;
      font-size: 12px;
      line-height: calc(19 / 16);
    }
    &:hover {
      img {
        scale: 1.1;
      }
      span {
        scale: 1.1;
      }
    }
  }
}
