@import "../../global/variables";
.main {
  &-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px;
    height: 100vh;
  }
  &-logo {
    width: 75px;
    height: 75px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  &-menu {
    max-width: 6vw;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: $background-light;
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  &-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    li {
      a {
        text-decoration: none;
        color: $heading-color;
        margin-bottom: 40px;
        width: 60px;
        height: 60px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s linear;
        &:hover {
          background-color: #cccccc36;
        }
      }
    }
    &-last {
      list-style: none;
      li {
        margin-bottom: 0;
      }
    }
  }
  &-content {
    padding: 0 15px;
    flex: 1;
    &-header {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      .row {
        display: flex;
        justify-content: space-between;
      }
    }
    &-primary {
      height: 85vh;
      overflow-y: scroll;
    }
    &-primary::-webkit-scrollbar {
      display: none;
    }
  }
  &-notification {
    cursor: pointer;
    background: rgba(204, 204, 204, 0.3);
    border-radius: 10px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      scale: 1;
      transition: all 0.1s ease-in-out;
    }
    &:hover {
      img {
        scale: 1.2;
      }
    }
  }
  &-add {
    cursor: pointer;
    background: rgba(204, 204, 204, 0.3);
    border-radius: 10px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    img {
      scale: 1;
      transition: all 0.1s ease-in-out;
    }
    &:hover {
      img {
        scale: 1.2;
      }
    }
  }
  &-search {
    display: flex;
    align-items: center;
    background: $background-light;
    padding: 5px;
    border-radius: 100rem;
    margin-bottom: 20px;
    button {
      cursor: pointer;
      outline: none;
      border: none;
      display: inline-block;
      padding: 10px 35px;
      background: $green-color;
      border-radius: 100rem;
      transition: all 0.3s linear;
      &:hover {
        opacity: 0.5;
      }
    }
    input {
      outline: none;
      border: none;
      background: transparent;
      display: inline-block;
      margin: 0 10px;
      color: $white;
      font-size: 14px;
      width: 30vw;
    }
  }
  &-category {
    margin-left: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    display: inline-block;
    background: $background-light;
    transition: all 0.3s linear;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: $white;
    text-transform: uppercase;
    padding: 15px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    &:hover {
      opacity: 0.5;
    }
    option {
      background: #fff;
      color: $background-color;
    }
  }
  &-username {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(21 / 18);
    color: $green-color;
    align-items: center;
    margin-right: 20px;
  }
  &-avatar {
    cursor: pointer;
    width: 52px;
    height: 52px;
    border: 1px solid #ddd;
    border-radius: 100rem;
    img {
      border-radius: 100rem;
    }
  }
  &-more {
    height: 100%;
    max-width: 20vw;
    width: 100%;
  }
  &-profile {
    background: #5c5c5c33;
    border-radius: 35px;
    margin-bottom: 20px;
    &-caption {
      font-weight: 700;
      font-size: 18px;
      line-height: calc(21 / 18);
      color: $white;
      background: $green-color;
      text-transform: uppercase;
      padding: 20px;
      border-radius: 10px;
    }
    &-container {
      padding: 20px;
    }
    &-info {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      span {
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }
    &-name {
      font-weight: 700;
      font-size: 18px;
      line-height: calc(21 / 18);
      color: $white;
      margin-bottom: 10px;
    }
    &-permission {
      font-weight: 500;
      font-size: 12px;
      line-height: calc(14 / 12);
      color: $text-color;
      margin-bottom: 5px;
    }
    &-location {
      display: flex;
      span {
        font-weight: 500;
        font-size: 12px;
        line-height: calc(14 / 12);
        color: $text-color;
        margin-left: 10px;
      }
      img {
        width: 10px;
        height: 13px;
      }
    }
    &-logout {
      cursor: pointer;
      outline: none;
      border: none;
      font-weight: 700;
      font-size: 18px;
      line-height: calc(21 / 18);
      color: $white;
      padding: 15px 0;
      width: 100%;
      background: $error-color;
      border-radius: 100rem;
      transition: all 0.2s linear;
      text-transform: uppercase;
      display: block;
      text-align: center;
      text-decoration: none;
    }
    &-param {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 0 20px;
      margin-bottom: 20px;
      &-item {
        p {
          font-weight: 500;
          font-size: 12px;
          line-height: calc(14 / 12);
          color: $text-color;
          margin-bottom: 3px;
        }
        h6 {
          font-weight: 500;
          font-size: 16px;
          line-height: calc(19 / 16);
          color: $white;
        }
      }
    }
  }
  &-cart {
    background: #5c5c5c33;
    border-radius: 35px;
    &-caption {
      font-weight: 700;
      font-size: 18px;
      line-height: calc(21 / 18);
      color: $white;
      background: $green-color;
      text-transform: uppercase;
      padding: 20px;
      border-radius: 10px;
    }
    &-container {
      padding: 20px;
    }
    &-pay {
      cursor: pointer;
      outline: none;
      border: none;
      font-weight: 700;
      font-size: 18px;
      line-height: calc(21 / 18);
      color: $white;
      padding: 15px 0;
      width: 100%;
      background: $blue-color;
      border-radius: 100rem;
      transition: all 0.2s linear;
      text-transform: uppercase;
    }
    &-list {
      overflow-y: scroll;
      max-height: 280px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
.main-item li a.active {
  width: 60px;
  height: 60px;
  background-color: $green-color;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
