@import "../../global/variables";
.login {
  &-container {
    box-sizing: border-box;
    max-width: 50vw;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-image: url("https://i.guim.co.uk/img/media/94ba556c55bfda594523431aec69c464ae3605de/152_0_2498_1500/master/2498.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=3f3afc0de62ca26cc297aec59749b9fe");
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: 20px 20px 20px #02020293;
    margin-top: 50px;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right top,
        #1f212b 40%,
        #5d606a49 80%
      );
      border-radius: 20px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-primary {
    flex: 1;
    padding: 10px 20px;
    z-index: 99;
  }
  &-background {
    padding: 10px 20px;
    flex: 1;
    height: 100%;
    position: relative;
    border-top: 3px dashed $white;
    display: inline-block;
    animation: line 5s linear alternate infinite;
  }
  &-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 30px;
    color: $white;
    margin-bottom: 10px;
    text-align: center;
    span:last-child {
      color: $green-color;
    }
  }
  &-more {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $gray-color;
    margin-bottom: 30px;
    text-align: center;
    a {
      color: $green-color;
      text-decoration: none;
    }
  }
  &-google {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 13px 0;
    border: 1px solid $white;
    background-color: transparent;
    color: $white;
    font-size: 14px;
    border-radius: 14px;
    margin-bottom: 20px;
    img {
      margin-right: 10px;
    }
    &:hover {
      border: 1px solid $green-color;
    }
  }

  &-forgot {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(22 / 14);
    text-align: right;
    color: $green-color;
    text-decoration: none;
    margin-bottom: 10px;
  }
  &-submit {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 17px 0;
    border: 1px solid transparent;
    background-color: $green-color;
    color: $white;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 10px;
    img {
      margin-right: 10px;
    }
  }
  &-submit.check-email {
    color: $white;
    background-color: $error-color;
    user-select: none;
    cursor: not-allowed;
  }
}

@keyframes line {
  0% {
    border-top: 3px dashed $white;
    border-bottom: 3px dashed transparent;
    border-right: 3px dashed transparent;
    border-left: 3px dashed transparent;
  }
  25% {
    border-top: 3px dashed transparent;
    border-bottom: 3px dashed transparent;
    border-right: 3px dashed $white;
    border-left: 3px dashed transparent;
  }
  50% {
    border-top: 3px dashed transparent;
    border-bottom: 3px dashed $white;
    border-right: 3px dashed transparent;
    border-left: 3px dashed transparent;
  }
  100% {
    border-top: 3px dashed transparent;
    border-bottom: 3px dashed transparent;
    border-right: 3px dashed transparent;
    border-left: 3px dashed $white;
  }
}

@media screen and (max-width: 1439.98px) {
  .login {
    &-container {
      max-width: 70vw;
      height: 70vh;
    }
  }
}
@media screen and (max-width: 1023.98px) {
  .login {
    &-container {
      max-width: 95vw;
      height: 60vh;
    }
  }
}
@media screen and (max-width: 767.98px) {
  .login {
    &-container {
      max-width: 80vw;
      height: 70vh;
      padding: 10px 20px;
    }
    &-primary {
      padding: 0px;
    }
    &-background {
      display: none;
    }
    &-heading {
      font-size: 30px;
      text-align: center;
    }
    &-more {
      text-align: center;
    }
    &-submit {
      padding: 14px 0;
    }
  }
}
@media screen and (max-width: 374.98px) {
  .login {
    &-container {
      max-width: 85vw;
      height: 80vh;
    }
    &-primary {
      height: 100%;
      overflow-y: scroll;
    }
  }
}
