html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.2rem;
  line-height: 1;
  overflow-x: hidden;
  font-weight: 400;
  font-family: $font;
  color: $white;
  background-color: #13131a;
}
.wrapper {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #13131a;
}
