$font: "Epilogue", sans-serif;
$fontRoboto: "Roboto", sans-serif;
$white: #ffffff;
$black: #000000;
$main-color-opacity: #171a2ae0;
$main-color: #171a2a;
$text-color: #a6a6a6d4;
$heading-color: #0b132a;
$background-color: #13131a;
$background-light: #5c5c5c64;
$background-gradient: linear-gradient(to right, #090b27a7, #160516);
$error-color: #d71e1e;
$gray-color: #dde0e4;
$green-color: #3bc048;
$blue-color: #0e2060;
$dark-color: #323645b5;
$item-color: #353340;
$orange-color: #ff7551;
$background-container: linear-gradient(
  249.11deg,
  rgba(0, 0, 0, 0.575) 16.82%,
  rgba(29, 26, 193, 0.769) 146.56%
);
