$font: "Epilogue", sans-serif;
$white: #ffffff;
$text-color: #949494;
$heading-color: #0b132a;
$background-color: #13131a;
$background-light: #5c5c5c41;
$background-gradient: linear-gradient(to right, #050725, #160516);
$error-color: #761616;
$gray-color: #dde0e4;
$green-color: #11a65d;
// $green-color: #4ca4a3;
$blue-color: #0e2060; ;
