@import "../../global/variables";
.register {
  &-container {
    box-sizing: border-box;
    max-width: 60vw;
    width: 100%;
    max-height: 80vh;
    background-size: cover;
    background-image: url("https://i.guim.co.uk/img/media/94ba556c55bfda594523431aec69c464ae3605de/152_0_2498_1500/master/2498.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=3f3afc0de62ca26cc297aec59749b9fe");
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 20px 20px 20px #00000093;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    margin-top: 50px;
    &::-webkit-scrollbar {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 200%;
      background-image: linear-gradient(to right top, #272a37f7 30%, #5d606a49);
      border-radius: 20px;
      z-index: -1;
    }
  }
  &-container.error {
    border: 3px solid red;
  }
  &-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: $white;
    margin-bottom: 10px;
  }
  &-email {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: $gray-color;
    margin-bottom: 10px;
  }
  &-more {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $gray-color;
    margin-bottom: 30px;
    a {
      color: $green-color;
      text-decoration: none;
    }
  }
  &-google {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 13px 0;
    border: 1px solid $white;
    background-color: transparent;
    color: $white;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 10px;
    img {
      margin-right: 10px;
    }
    &:hover {
      border: 1px solid $green-color;
    }
  }
  &-primary {
    box-sizing: border-box;
  }
  &-input {
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
  }
  &-agree {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
    color: $gray-color;
    margin-bottom: 10px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    input {
      margin-right: 20px;
      width: 23px;
      height: 23px;
    }
    p {
      a {
        color: $gray-color;
      }
    }
  }
  &-submit {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0;
    width: 100%;
    border: 1px solid transparent;
    background-color: $green-color;
    color: $white;
    font-size: 14px;
    border-radius: 8px;
    img {
      margin-right: 10px;
    }
  }
  &-submit.check-email {
    color: $white;
    background-color: $error-color;
    user-select: none;
    cursor: not-allowed;
  }
}

@media screen and (max-width: 767.98px) {
  .register {
    &-container {
      max-width: 80vw;
      max-height: 95vh;
      padding: 0 20px;
      margin-top: 20px;
      overflow-y: scroll;
    }
    &-primary {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
  }
}
